html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
img.bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/**webkit滚动条样式*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #cbcbcb;
}
/**webkit滚动条样式 结束*/

#d3-container{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.land {
  fill: #fff;
  stroke-opacity: 1;
  box-shadow: 0 0 20px #fff;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width:.5;
}

.labels {
    font: 8px sans-serif;
    fill: black;
    display:none;
}

.point {  opacity:.8; cursor: pointer;}
.point.pic{
  fill: url(http://tmisc.home.news.cn/story/img/markerPicColor.png);
}

.flyers {
  stroke-width:1;
  opacity: .6;
  stroke: darkred; 
}
.arc, .flyer {
  stroke-linejoin: round;
  fill:none;
}

.content{
    position: absolute;
    width: 280px;
    height: 400px;
    right: 30px;
    top: 100px;
    background: rgba(128,128,128,.7);
    color: #fff;
    opacity: 0;
    overflow-y: scroll;
    padding: .5em;
    transition: all 2s;
}
.content .image-holder{
    text-indent: 0;
    text-align: center;
}
.content p{
    text-indent: 2em;
}
.content img{
    max-width: 90%;
}
.content.current{
    z-index: 1;
    opacity: 1;
}